<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>경기대 밥맛</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container">

    <form action="modify" method="post">
        <div class="box" th:each="list : ${reviewList}">
            <h1>리뷰 수정</h1><br>
            <div class="input-group mb-3" style="display: none">
                <div class="input-group-prepend">
                    <span class="input-group-text">상위 식당 이름</span>
                </div>
                <input class="form-control" id="selectStore" name="selectStore" th:value="${list.selectStore}" readonly>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">식당 이름</span>
                </div>
                <input type="text" class="form-control" id="storeName" name="storeName" th:value="${list.storeName}"
                       readonly>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">메뉴</span>
                </div>
                <input class="form-control" id="menu" name="menu" th:value="${list.menu}" readonly>
            </div>
            <div name="myform" id="myform" class="input-group mb-3">
                <fieldset>
                    <input type="radio" name="reviewScore" value="5" id="rate1"><label
                        for="rate1">★</label>
                    <input type="radio" name="reviewScore" value="4" id="rate2"><label
                        for="rate2">★</label>
                    <input type="radio" name="reviewScore" value="3" id="rate3"><label
                        for="rate3">★</label>
                    <input type="radio" name="reviewScore" value="2" id="rate4"><label
                        for="rate4">★</label>
                    <input type="radio" name="reviewScore" value="1" id="rate5"><label
                        for="rate5">★</label>
                </fieldset>
            </div>
            <div class="input-group mb-3">
                <div th:each="tags : ${tags}" class="form-check form-check-inline">
                    <input type="checkbox" th:value="${tags.key}" class="form-check-input" id="tags" name="tags">
                    <label th:text="${tags.value}" class="form-check-label"></label>
                </div>
            </div>
            <div class="mb-3">
                <div class="input-group-prepend">
                    <input type="text" class="form-controls " id="review" name="review" th:value="${list.review}"
                           placeholder="리뷰를 써주세요.">
                </div>
            </div>
            <div class="input-group mb-3" style="display:none;" >
                <div class="input-group-prepend">
                    <input name="writeTime" th:value="${list.writeTime}">
                </div>
            </div>
            <button type="submit">작성하기</button>

        </div>
    </form>
</div>
</body>
</html>