<!DOCTYPE html>
<html>
<head>
    <title>경기대 밥맛</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>

    <style>
        #reviewContents {
            width: 300px;
            height: 200px;
            padding: 10px;
            box-sizing: border-box;
            border: solid 1.5px #D3D3D3;
            border-radius: 5px;
            font-size: 16px;
            resize: none;
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
<div class="container">
    <header class="py-3 mb-3 border-bottom">
        <div class="d-flex flex-row justify-content-between">
            <form class="col-5" role="search">
                <input type="search" class="form-control noOutline" style="height: 50px;" placeholder="Search...">
            </form>

            <div class="row">
                <h3 class="mr-3 align-self-center">username</h3>
                <div class="dropdown mr-4">
                    <div class="d-block link-dark text-decoration-none dropdown-toggle" data-toggle="dropdown"
                         aria-haspopup="true" aria-expanded="false">
                        <img src="https://user-images.githubusercontent.com/90389517/212916931-321ab7a7-7f29-4c6d-acf7-3c7620f9ed09.jpeg"
                             width="50" height="50" class="rounded-circle">
                    </div>
                    <ul class="shadow dropdown-menu dropdown-menu-right mt-2">
                        <li><a class="dropdown-item" href="/myPage">마이페이지</a></li>
                        <li><a class="dropdown-item" href="/writeReview">리뷰 작성하기</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">로그아웃</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </header>
    <div id="reviewContents">
        <table th:each="list : ${reviewList}" >
            <tr>
                <td>식당 이름</td>
                <td th:utext="${list.storeName}"></td>
                <td>별점</td>
                <td th:utext="${list.reviewScore}"></td>
            </tr>
            <tr>
                <td>reviewId</td>
                <td th:utext="${list.reviewId}"></td>
            </tr>
            <tr>
                <td th:utext="${list.review}"></td>
            </tr>
            <tr>
                <td>작성 시간</td>
                <td th:utext="${list.writeTime}"></td>
                <td th:utext="${list.user_nickname}"></td>
            </tr>

        </table>
    </div>

</div>
</body>
</html>