<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>경기대 밥맛</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container" style="min-height: 80vh;">
    <div>
        <div class="mt-5 ml-2">
            <a class="text-black font-weight-bold hover-noUnderline hover-text-point" href="/main">메인으로 돌아가기</a>
        </div>
        <div class="row mb-5">
            <div class="col-7">
                <div class="mb-3">
                    <h1 th:id="storeName" th:text="${storeName}" class="display-2 font-weight-bold"></h1>
                </div>
                <div class="my-2 mx-2">
                    <div class="mb-2">
                        <td th:text="${store[0].businessHours}"></td>
                    </div>
                    <div style="max-width:500px;">
                        <p th:text="${store[0].description}"></p>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div id="storeMap-right" class="rounded-10" style="height:85%;"></div>
                <script type="text/javascript"
                        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f333805471087979c44ca72e4b0e9428"></script>
                <script type="text/javascript" src="js/kakaoMap.js"></script>
                <script type="text/javascript" th:inline="javascript">
                    makeStoreMap("storeMap-right", /*[[${store[0].name}]]*/ {}, /*[[${store[0].lat}]]*/ {}, /*[[${store[0].lng}]]*/ {});
                </script>
                <div class="mt-1 ml-1 row">
                    <p th:text="${store[0].location}"></p>
                    <th:block th:if="${(selectStoreName != null) && (store[0].location != null)}">
                        <p>, </p>
                    </th:block>
                    <p class="selectStoreName" th:text="${selectStoreName}"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 p-2" th:each="list : ${storeReviews}">
            <div class="reviewContents p-4">
                <div th:text="${list.menu}" class="font-weight-bold mr-3" style="font-size: 30px;"></div>
                <div>
                    <th:block th:each="num : ${#numbers.sequence(1, list.reviewScore)}">
                        <img height="30px"
                             src="https://littledeep.com/wp-content/uploads/2020/09/star-icon-style1.png"
                             width="30px" class="mb-1">
                    </th:block>
                </div>
                <div class="d-flex justify-content-end">
                    <div th:text="${list.writeTime}"></div>
                </div>
                <div class="d-flex justify-content-end">
                    <div th:text="${list.username}"></div>
                </div>
                <div th:text="${list.review}" class="mx-2 mb-3 mt-5" style="font-size: 18px;"></div>
                <div class="row">
                    <th:block th:each="tag : ${list.tags}">
                        <button class="btn btn-warning ml-3" th:text="${'#' + tag}"></button>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{/fragments/footer :: footerFragment}"></div>
</body>
</html>