<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footerFragment">
    <div class="container mt-5 mb-2">
        <div class="d-flex justify-content-center">
            <p class="mr-1">Copyright 2023.</p>
            <a class="mr-1" style="text-decoration:none;" href="https://wobbly-tarsal-363.notion.site/MEMBERS-78ca90713f954f1fb9f97afa4c48a441">k_babmukja.</a>
            <p>Unable to copied without permission.</p>
        </div>
    </div>
</footer>
</body>
</html>