<!DOCTYPE html>
<html>
<head>
    <title>경기대 밥맛</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <h1>This is 'main.html'</h1><br>
    <a href="/selectStore">selectStore.html</a><br>
    <a href="/store">store.html</a><br>
    <a href="/todayFood">todayFood.html</a><br>
    <a href="/myPage">myPage.html</a><br>
    <a href="/writeReview">writeReview.html</a><br>

    <br>
    <div id="map" style="width:600px; height:500px;"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f333805471087979c44ca72e4b0e9428"></script>
    <script type="text/javascript" src="js/kakaoMap.js"></script>
</body>
</html>