<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>경기대 밥맛</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container">
    <!-- 페이지 로고 및 이름 -->
    <div id="main_logo" class="d-flex justify-content-center my-5" style="user-select: none;">경기대 밥맛┘</div>

    <!-- 헤더 -->
    <header class="py-3 mb-3 border-bottom">
        <div class="d-flex flex-row justify-content-between">
            <form id="search_form" class="col-5" method="get" action="search">
                <input id="search_input" name="search" type="search" class="form-control noOutline"
                       style="height: 50px;" placeholder="Search...">
            </form>
            <div class="row align-items-center mb-1">
                <h4 class="mr-3 align-self-center">
<!--                    <div th:text="|${user.getUsername()}님|"></div>-->

                    <div th:text="'Email : ' + ${email}"></div>
                    <div th:text="'Name : ' + ${name}"></div>
                </h4>
                <div class="dropdown mr-4">
                    <div class="d-block link-dark text-decoration-none dropdown-toggle" data-toggle="dropdown"
                         aria-haspopup="true" aria-expanded="false">
                        <img src="https://user-images.githubusercontent.com/90389517/212916931-321ab7a7-7f29-4c6d-acf7-3c7620f9ed09.jpeg"
                             width="40" height="40" class="rounded-circle">
                    </div>
                    <ul class="shadow dropdown-menu dropdown-menu-right mt-2">
                        <li><a class="dropdown-item" href="/myPage">마이페이지</a></li>
                        <li><a class="dropdown-item" href="/likedMenu">좋아요 모아보기</a></li>
                        <li><a class="dropdown-item" href="/writeReview">리뷰 작성하기</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item cursor-pointer" onclick="clickLogout()">로그아웃</a></form></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <!-- 인기 순위 섹션 -->
    <div class="">
        <div class="my-5 row align-content-between">
            <div class="col-4 p-3" th:each="menu, menuStat : ${menuLanking}" th:if="${menuStat.index < 3}">
                <div class="d-flex justify-content-center"
                     th:onclick="|location.href='@{/store(selectStoreName=${menu.selectStore}, storeName=${menu.storeName})}'|">
                    <div class="row menuLank px-1">
                        <h4 class="mr-2" th:utext="${menuStat.index+1}+'.'"></h4>
                        <img height="25px"
                             src="https://littledeep.com/wp-content/uploads/2020/09/star-icon-style1.png"
                             width="25px">
                        <h4 class="mx-1"
                            th:utext="${#numbers.formatDecimal(menu.getReviewScore(), 0, 2) + '(' + menu.getReviewNum() + ')'}"></h4>
                        <h4 class="ml-3" th:utext="${menu.name}"></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 지도와 식당 버튼 리스트 -->
    <div class="row">
        <div class="col-8">
            <div id="map" class="rounded-10" style="height:430px;"></div>
        </div>
        <script type="text/javascript"
                src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f333805471087979c44ca72e4b0e9428"></script>
        <script type="text/javascript" src="js/kakaoMap.js"></script>
        <script type="text/javascript" th:inline="javascript">
            /*[# th:each="list : ${storeList}"]*/
            makeMarker(/*[[${list.name}]]*/ {}, /*[[${list.selectStore}]]*/ {}, /*[[${list.lat}]]*/ {}, /*[[${list.lng}]]*/ {});
            /*[/]*/
        </script>

        <div class="col-4 storeList mb-5">
            <ul class="list-group" style="height: 430px;">
                <th:block th:each="list : ${storeList}">
                    <button th:if="${list.selectStore == true}"
                            th:onclick="|location.href='@{/selectStore(storeName=${list.name})}'|"
                            class="noOutline list-group-item p-4 text-center">
                        <div th:text="${list.name}" class="storeName"></div>
                    </button>
                    <button th:unless="${list.selectStore == true}"
                            th:onclick="|location.href='@{/store(storeName=${list.name})}'|"
                            class="noOutline list-group-item p-4 text-center">
                        <div th:text="${list.name}" class="storeName"></div>
                    </button>
                </th:block>
            </ul>
        </div>
    </div>

    <div th:insert="~{/fragments/footer :: footerFragment}"></div>
</div>
</body>
</html>