<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p style="display: none" th:text="${search}"></p>
<p th:text="|${#lists.size(storeReviews)}개 리뷰가 검색되었습니다.|"/>
<div id="reviewContents" th:each="list : ${storeReviews}">
    <table>
        <tr colspan="4">

            <td>식당 이름</td>

            <td th:utext="${list.storeName}"></td>

        </tr>
        <tr>
            <td>메뉴</td>
            <td colspan="4" th:utext="${list.menu}"></td>
        </tr>

        <tr>

            <td>별점</td>

            <td colspan="4" th:number="${list.reviewScore}"></td>

        </tr>

        <tr colspan="4" rowspan="3">

            <td th:utext="${list.review}"></td>

        </tr>
        <tr colspan="4" rowspan="3">

            <td th:utext="${list.tags}"></td>

        </tr>

        <tr>
            <td>작성 시간</td>
            <td colspan="2" th:utext="${list.writeTime}" style="width: 100px">
            </td>
        </tr>
    </table>
</div>
</body>
</html>