<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>경기대 밥맛</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container">
    <div class="mt-5 ml-2">
        <a class="text-black font-weight-bold hover-noUnderline hover-text-point" href="/main">메인으로 돌아가기</a>
    </div>
    <div class="mb-5">
        <h1 th:text="${storeName}" class="display-2 font-weight-bold"></h1>
    </div>

    <div class="row">
        <th:block th:each="list : ${store}">
            <div class="col-4">
                <button th:onclick="|location.href='@{/store(selectStoreName=${storeName}, storeName=${list.name})}'|"
                        class="border-0 rounded-8 w-100 text-white m-3 bg-danger noOutline" style="min-height: 220px;">
                    <h3 th:text="${list.name}" class="mt-3"></h3>
                    <p th:text="${list.businessHours}"></p>
                    <div th:text="${list.description}" class="text-left p-4" style="font-size: 18px;"></div>
                </button>
            </div>
        </th:block>
    </div>
</div>
</div>
</body>
</html>