<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>경기대 밥맛</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container">
    <div class="mt-5 ml-2">
        <a class="text-black hover-noUnderline hover-text-point" href="/main">뒤로가기</a>
    </div>
    <div class="row">
        <div class="col-7">
            <div class="mb-3">
                <h1 th:text="${storeName}" class="display-2 font-weight-bold"></h1>
            </div>
            <div class="my-2 mx-3">
                <div class="mb-2">
                    <td th:text="${store[0].businessHours}"></td>
                </div>
                <div style="max-width:500px;">
                    <p th:text="${store[0].description}"></p>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div id="storeMap" class="rounded-10" style="height:85%;"></div>
            <script type="text/javascript"
                    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f333805471087979c44ca72e4b0e9428"></script>
            <script type="text/javascript" src="js/kakaoMap.js"></script>
            <script type="text/javascript" th:inline="javascript">
                makeStoreMap(/*[[${store[0].name}]]*/ {}, /*[[${store[0].lat}]]*/ {}, /*[[${store[0].lng}]]*/ {});
            </script>
            <div class="mt-1 ml-1">
                <td th:text="${store[0].location}"></td>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>