<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<head>
    <title>경기대 밥맛</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>

    <style>
        #reviewContents {
            width: 350px;
            height: 200px;
            padding: 10px;
            box-sizing: border-box;
            border: solid 1.5px #D3D3D3;
            border-radius: 5px;
            font-size: 16px;
            resize: none;
            margin-bottom: 30px;
        }
    </style>
</head>

<body>
<div class="container">
    <header class="py-3 mb-3 border-bottom">
        <div class="d-flex flex-row justify-content-between">
            <form class="col-5" role="search">
                <input type="search" class="form-control noOutline" style="height: 50px;" placeholder="Search...">
            </form>

            <div class="row">
                <h4 class="mr-3 align-self-center">
                    <div th:text="|${user.getUsername()}님|"></div>
                </h4>
                <div class="dropdown mr-4">
                    <div class="d-block link-dark text-decoration-none dropdown-toggle" data-toggle="dropdown"
                         aria-haspopup="true" aria-expanded="false">
                        <img src="https://user-images.githubusercontent.com/90389517/212916931-321ab7a7-7f29-4c6d-acf7-3c7620f9ed09.jpeg"
                             width="50" height="50" class="rounded-circle">
                    </div>
                    <ul class="shadow dropdown-menu dropdown-menu-right mt-2">
                        <li><a class="dropdown-item" href="/myPage">마이페이지</a></li>
                        <li><a class="dropdown-item" href="/writeReview">리뷰 작성하기</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">로그아웃</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </header>

    <!--    <from th:action="@{/reviewDelete}" method="post">-->
    <div id="reviewContents" th:each="list : ${reviewList}">
        <table>
<!--            <tr colspan="4" style="display: none">-->

<!--                <td>이메일</td>-->

<!--                <td th:utext="${list.email}"></td>-->

<!--            </tr>-->

            <tr colspan="4">

                <td>식당 이름</td>

                <td th:utext="${list.storeName}"></td>

            </tr>
            <tr>
                <td>메뉴</td>
                <td colspan="4" th:utext="${list.menu}"></td>
            </tr>

            <tr>

                <td>별점</td>

                <td colspan="4" th:number="${list.reviewScore}"></td>

            </tr>

            <tr colspan="4" rowspan="3">

                <td th:utext="${list.review}"></td>

            </tr>
            <tr colspan="4" rowspan="3">

                <td th:utext="${list.tags}"></td>

            </tr>

            <tr>

                <td>작성 시간</td>

                <td colspan="2" th:utext="${list.writeTime}" style="width: 100px">

                </td>

            </tr>

        </table>

    <form action="/edit" method="get">
        <a th:onclick="|location.href='@{/edit(email=${user.getEmail()}, writeTime=${list.writeTime})}'|" >수정하기</a>

<!--        th:onclick="|location.href='@{/edit(writeTime=${writeTime})}'|"-->
    </form>
        <a href="javascript:void(0);"  th:onclick="|location.href='@{/delete(email=${user.getEmail()}, writeTime=${list.writeTime})}'|" class="delete">삭제하기</a>
    </div>

    <script layout:fragment="script" type='text/javascript'>
        const delete_elements = document.getElementsByClassName("delete");
        Array.from(delete_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 삭제하시겠습니까?")) {
                    let frm = $("#frm")
                    frm.attr('action', '/delete');
                    frm.attr("method", "get");
                    frm.submit();

                };
            });
        });
    </script>
</div>
</body>
</html>